doctype html
html(lang="en")
  head
    title #{title} | Blync GUI
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
  body
    section.container
      block content