extends base

block content
  h1
    | Blync Controls
    button#signout.btn.btn-xs.btn-danger.pull-right Sign Out
  hr
  div.panel.panel-default
    div.panel-heading
      h3.panel-title Set Status
    div.panel-body
      form(role='form', class='form-horizontal', id='status-form')
        table.table.table-striped
          thead
            tr
              th(width='100') Device
              th Status
          tbody
            tr
              td
                select#device-input.form-control
                  - for (var i = 0, j = 0; i < deviceCount; i++) {
                    option(value=i) #{i}
                  - }
              td
                select#status-input.form-control
                  option(value='available') AVAILABLE
                  option(value='away') AWAY
                  option(value='busy') BUSY
                  option(value='nodisturb') DO NOT DISTURB
                  option(value='offline') OFFLINE
                  option(value='rave') RAVE
                  option(value='police') POLICE
                  option(value='traffic') TRAFFIC
                  option(value='strobe') STROBE
  if skype
    div.panel.panel-default
      div.panel-heading
        h3.panel-title Skype Listener
      div.panel-body
        form(role='form', class='form-horizontal', id='skype-form')
          table.table.table-striped
            thead
              tr
                th(width='100') Device
                th State
            tbody
              tr
                td
                  select#device-input.form-control
                    - for (var i = 0, j = 0; i < deviceCount; i++) { if (i % 2 == 0) {
                      option(value=i) #{j}
                    - j++; } }
                td
                  select#skype-input.form-control
                    option(value='0') DISABLED
                    option(value='1') ENABLED

  script(type='text/javascript').
    $('#signout').on('click', function(_e) {
      _e.preventDefault();
      $.ajax({
        type: 'DELETE',
        url: '/auth',
        success: function(data) {
          console.log('SUCCESS : ' + data);
          location.href = '/login';
        },
        error: function(data) {
          console.log('ERROR : ' + data.statusText);
        }
      });
    });

  script(type='text/javascript').
    $('#status-input').on('change', function(_e) {
      _e.preventDefault();
      $.ajax({
        type: 'POST',
        url: '/status/' + $('#status-input').val(),
        data: {
          device: $('#device-input').val()
        },
        success: function(data) {
          console.log('SUCCESS : ' + data);
        },
        error: function(data) {
          console.log('ERROR : ' + data.statusText);
        }
      });
    });

  if skype
    script(type='text/javascript').
      $('#skype-input').on('change', function(_e) {
        _e.preventDefault();
        $.ajax({
          type: $('#skype-input').val() == '1' ? 'POST' : 'DELETE',
          url: '/skype',
          data: {
            device: $('#device-input').val()
          },
          success: function(data) {
            console.log('SUCCESS : ' + data);
          },
          error: function(data) {
            console.log('ERROR : ' + data.statusText);
          }
        });
      });
