doctype html
html(lang="en")
  head
    title Login | Blync GUI
  body
    h1 Login
    hr
    form(role='form', class='form-horizontal', id='login-form')
      h3 Username
      p
        input(type='text', name='username', id='username-input')
      h3 Password
      p
        input(type='password', name='password', id='password-input')
      p
        button Submit
